.advert {

  p {
    font-family: var(--font-pt-sans-caption);
  }
}

.app {
    display: block;
    min-height: 100vh;
    // height: fit-content;
    // background: #000000;
}

header {
  display: block;
  height: fit-content;
}

main {
  display: block;
}

footer {
  display: block;
}