.advert {

  p {
    font-family: var(--font-pt-sans-caption);
  }
}

.app {
    display: block;
    min-height: 100vh;
    // height: fit-content;
    // background: #000000;
}

header {
  display: block;
  height: 73px;
  z-index: 999999;
}

main {
  display: block;
  height: 4000px; // some arbitrary value
}

footer {
  display: block;
}