@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.video {
    background-color: #131313;
    border: 1px fade-in($color: #000000, $amount: 0) white;

    // &:hover {
    //     transform: scale(1.5);
    // }
}

.mouse-shadow-toggle {
    display: block;
    &:hover {
        display: none;
    }
}

.hover-translate-z {
    transform: translateZ(200px)!important; /* Adjust the value to your preference */
    transition: transform 1s ease; /* Smooth transition */
  }

// @keyframes fall {
//   0% {
//     transform: translateY(0) rotateX(0deg) rotateY(0deg);
//   }
//   100% {
//     transform: translateY(100vh) rotateX(720deg) rotateY(720deg);
//   }
// }